<div class="container">

  <div class="row">
      <div class="col-md-12">
        <h2 class="heading">Log In To Referrify</h2>
      </div>
  </div>

  <hr>
    
  <div class="row normal-text">

    <div class="col-md-12">
        <div *ngIf="isLoginError" class="alert alert-danger">
            {{ errorMessage }}
        </div>
      <form #f="ngForm" (ngSubmit)="authenticateUser(f)">

        <div class="form-group form-group-element">

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">person</i>
              </span>
            </div>
            <input #username="ngModel" [(ngModel)]="user.username" name="username" id="username" type="text" class="form-control" pattern="[a-zA-Z0-9]{3,15}" maxlength="15" placeholder="Username" required>
          </div>

        </div>

        <div class="form-group form-group-element">
         
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">lock</i>
              </span>
            </div>

            <input #password="ngModel" [(ngModel)]="user.password" [type]="passwordType" name="password" id="password" class="form-control remove-right-border" pattern="^(?=.*[0-9])(?=.*[A-Z])(.+){8,15}$" maxlength="15" placeholder="Password" required>
            
            <div (click)="passwordToggle()" class="input-group-append pointer">
                <span class="input-group-text white-background">
                    <i class="material-icons">visibility</i>
                </span>
            </div>

          </div>

        </div>

        <div class="form-group-element login-button-container">
            <button [disabled]="!username.value || !password.value || isAuthInProgress" 
                    class="btn btn-warning main-button medium-size-button login-button">
                    <i *ngIf="isAuthInProgress" class="fa fa-circle-o-notch fa-spin"></i> Login</button>
        </div>

      </form>
    </div>
  </div>
</div>