.jumbotron {
    background-color: #fff0c4;
    border: 1px solid #343a40;
}

.centered {
    text-align: center;
}

.get-started-button {
    font-size: 35px;
    margin-top: 25px;
}

.job-button {
    font-size: 30px;
    margin-top: 25px;
    width: 100%;
}

.material-icons {
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    .display-3 {
        font-size: 2.5rem;
    }

    .job-button {
        font-size: 25px;
    }
}
